<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mingyun.mapper.OrderRefundMapper">
  <resultMap id="BaseResultMap" type="com.mingyun.domain.OrderRefund">
    <!--@mbg.generated-->
    <!--@Table order_refund-->
    <id column="refund_id" jdbcType="BIGINT" property="refundId" />
    <result column="shop_id" jdbcType="BIGINT" property="shopId" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="order_number" jdbcType="VARCHAR" property="orderNumber" />
    <result column="order_amount" jdbcType="DOUBLE" property="orderAmount" />
    <result column="order_item_id" jdbcType="BIGINT" property="orderItemId" />
    <result column="refund_sn" jdbcType="VARCHAR" property="refundSn" />
    <result column="flow_trade_no" jdbcType="VARCHAR" property="flowTradeNo" />
    <result column="out_refund_no" jdbcType="VARCHAR" property="outRefundNo" />
    <result column="pay_type" jdbcType="INTEGER" property="payType" />
    <result column="pay_type_name" jdbcType="VARCHAR" property="payTypeName" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="goods_num" jdbcType="INTEGER" property="goodsNum" />
    <result column="refund_amount" jdbcType="DECIMAL" property="refundAmount" />
    <result column="apply_type" jdbcType="INTEGER" property="applyType" />
    <result column="refund_sts" jdbcType="INTEGER" property="refundSts" />
    <result column="return_money_sts" jdbcType="INTEGER" property="returnMoneySts" />
    <result column="apply_time" jdbcType="TIMESTAMP" property="applyTime" />
    <result column="handel_time" jdbcType="TIMESTAMP" property="handelTime" />
    <result column="refund_time" jdbcType="TIMESTAMP" property="refundTime" />
    <result column="photo_files" jdbcType="VARCHAR" property="photoFiles" />
    <result column="buyer_msg" jdbcType="VARCHAR" property="buyerMsg" />
    <result column="seller_msg" jdbcType="VARCHAR" property="sellerMsg" />
    <result column="express_name" jdbcType="VARCHAR" property="expressName" />
    <result column="express_no" jdbcType="VARCHAR" property="expressNo" />
    <result column="ship_time" jdbcType="TIMESTAMP" property="shipTime" />
    <result column="receive_time" jdbcType="TIMESTAMP" property="receiveTime" />
    <result column="receive_message" jdbcType="VARCHAR" property="receiveMessage" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    refund_id, shop_id, order_id, order_number, order_amount, order_item_id, refund_sn, 
    flow_trade_no, out_refund_no, pay_type, pay_type_name, user_id, goods_num, refund_amount, 
    apply_type, refund_sts, return_money_sts, apply_time, handel_time, refund_time, photo_files, 
    buyer_msg, seller_msg, express_name, express_no, ship_time, receive_time, receive_message
  </sql>
</mapper>