<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mingyun.mapper.ProdMapper">
    <resultMap id="BaseResultMap" type="com.mingyun.domain.Prod">
        <!--@mbg.generated-->
        <!--@Table prod-->
        <id column="prod_id" jdbcType="BIGINT" property="prodId"/>
        <result column="prod_name" jdbcType="VARCHAR" property="prodName"/>
        <result column="shop_id" jdbcType="BIGINT" property="shopId"/>
        <result column="ori_price" jdbcType="DECIMAL" property="oriPrice"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="brief" jdbcType="VARCHAR" property="brief"/>
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
        <result column="pic" jdbcType="VARCHAR" property="pic"/>
        <result column="imgs" jdbcType="VARCHAR" property="imgs"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="category_id" jdbcType="BIGINT" property="categoryId"/>
        <result column="sold_num" jdbcType="INTEGER" property="soldNum"/>
        <result column="total_stocks" jdbcType="INTEGER" property="totalStocks"/>
        <result column="delivery_mode" jdbcType="VARCHAR" property="deliveryMode"/>
        <result column="delivery_template_id" jdbcType="BIGINT" property="deliveryTemplateId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="putaway_time" jdbcType="TIMESTAMP" property="putawayTime"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        prod_id,
        prod_name,
        shop_id,
        ori_price,
        price,
        brief,
        content,
        pic,
        imgs,
        `status`,
        category_id,
        sold_num,
        total_stocks,
        delivery_mode,
        delivery_template_id,
        create_time,
        update_time,
        putaway_time,
        version
    </sql>

    <select id="selectMyPage" resultMap="BaseResultMap">
        SELECT t1.prod_id,
               t1.prod_name,
               t1.shop_id,
               t1.price,
               t1.pic,
               t1.category_id,
               t1.sold_num,
               t1.update_time
        FROM
        prod AS t1
            JOIN ( SELECT prod_id
                   FROM prod as t2
        <where>
            and t2.`status` = 1
            <if test="t != null">
                and t2.update_time >= #{t}
            </if>
        </where>
        order by t2.prod_id
        LIMIT #{offset}, #{size} )
            AS temp ON (
            temp.prod_id = t1.prod_id)
    </select>
</mapper>